<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinguaEase</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="#" class="logo">LinguaEase</a>
                <ul class="nav-links">
                    {% if session.isauth %}
                    <a href="/profile" class="cta-button">Profile</a>
                    <a href="/logout"  class="cta-button">Log Out</a>
                    {% else %}
                    <a href="/register">Register</a>
                    <a href="/login">Log In</a>
                     {% endif %}

                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info mx-3 mt-3" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </header>

    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>Learn speaking languages online with <span class="highlight">LinguaEase</span></h1>
                <p>Start speaking a language with confidence today. Choose languages and lessons.</p>
                <div class="image-container">
                    <a href="/train">
                        <img src="/static/america.jpg" alt="" class="img-rounded">
                    </a>

                    <a href="/train">
                        <img src="/static/britain.jpg" alt="" class="img-rounded">
                    </a>
                    <a href="/train">
                        <img src="/static/australia.jpg" alt="" class="img-rounded">
                    </a>

                    <a href="/train">
                    <img src="/static/indian.jpeg" alt="" class="img-rounded">
                    </a>

                    <a href="/train">
                    <img src="/static/Russian.jpeg" alt="" class="img-rounded">
                    </a>

                    <a href="/train">
                    <img src="/static/Spanish.jpeg" alt="" class="img-rounded">
                    </a>
                <!-- </div>

                <a href="/train" class="cta-button">Start speaking</a>
            </div> -->
        </div>
    </section>

    <section class="features">
        <div class="container">
            <h2>Why learn with LinguaEase?</h2>
            <div class="feature">
                <img src="https://via.placeholder.com/150" alt="Feature 1">
                <h3>Expertly created courses</h3>
                <p>Our language courses are created by our expert linguists. You'll learn the real language, as it's
                    spoken by native speakers.</p>
            </div>
            <div class="feature">
                <img src="https://via.placeholder.com/150" alt="Feature 2">
                <h3>Personalized learning</h3>
                <p>Our adaptive learning technology tailors your learning plan to suit your goals, keeping you motivated
                    every step of the way.</p>
            </div>
            <div class="feature">
                <img src="https://via.placeholder.com/150" alt="Feature 3">
                <h3>Interactive exercises</h3>
                <p>Practice your speaking, writing, listening, and reading skills with interactive exercises and
                    quizzes.</p>
            </div>
        </div>
    </section>


</body>

</html>