/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #68e98c78;
}

.container {
    width: 80%;
    margin: 0 auto;
}
.container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: xx-large;
    color: #385f38;
    font-family: comic sans ms;
}

/* Header styles */
header {
    background-color: #a4eda4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: comic sans ms;
    color: #385f38; 
    text-decoration: none ;
}

/* .nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: absolute;
    right: 0;
    top: 0%; 
   
}
 */
 .nav-links {
    list-style: none; /* Remove default bullet points */
    margin-right: 30; /* Reset default margins */
    padding: 10; /* Reset default padding */
    /* display: inline-block; */ /* Enable flexbox for easy alignment */
    float: right; /* Align items to the right */

  }
  
  .nav-links li {
    margin-left: 30px; /* Add spacing between list items */
  }
.nav-links li a {
    text-decoration: none;
    color: #666;
}

.cta-button {
    background-color: #385f38;
    color: #e4efe2;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #0050aa;
}

/* Hero section styles */
.hero {
    background-size: cover;
    color: #385f38;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.hero-content {
    text-align: center;
    font-family: comic sans ms;
    background-color: #a4eda4;
    padding: 50px 0;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 40px;
    font-family: comic sans ms;

    
}

/* Features section styles */
.features {
    padding: 100px 0;
}

.features h2 {
    text-align: center;
    margin-bottom: 40px;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature p {
    text-indent: 10px;
    text-align: left;
}

.feature img {
    margin-right: 20px;
    max-height: 150px;
    max-width: 150px;
    
}

/* Footer styles */
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.image-container {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: space-around; /* Space evenly between the images */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Add some space at the top */}

.img-rounded {
    border-radius: 50%; /* Make images round */
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
}

.icon span {
    display: block;
    font-size: 14;

}
